* {
  font-family: "Prompt";
  text-decoration: none;
  scroll-behavior: smooth;
  color: #7293df;
  font-weight: 550;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.nav {
  width: 98%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: 1px 1px 5px #0000001a;
  background-color: white;
  position: fixed;
  top: 0;
}

.mid {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 20px;
}

.mid a,
.txt p {
  color: #bec9d5;
}

.mid a {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.mid a:hover {
  color: #7293df;
}

.las {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.las img {
  height: 40px;
  width: 40px;
}

.las p,
h4 {
  margin: 0;
}

.las div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.las a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  gap: 10px;
}

.logo {
  width: 20%;
}

.txt p {
  font-weight: 400;
  font-size: 13px;
}
.main {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  align-items: center;
  gap: 20px;
  height: 450px;
  justify-content: space-between;
}
.main h2{
  margin: 0;
  margin-bottom: 10px;
}
.bar{
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.bar p{
  margin: 0;
  font-size: 13px;
}
.exercise-bar {
  width: 450px;
  height: 13px;
  background-color: #ececec;
  border-radius: 10px;
}
.exercise-fill{
  width: 10%;
  height: 13px;
  border-radius: 10px;
  background-color: #7293df;
}
.speak {
  display: flex;
  justify-content: center;
  border: 1.5px solid #ececec;
  width: 150px;
  height: 55px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.speak:hover{
  border: 1.5px solid #dae5ff;
  background-color: #f7f9fe;
}
.picture-box{
  display: flex;
  gap: 20px;
}
.picture-box img{
  width: 80px;
  height: 80px;
}
.picture-box div{
  width: 130px;
  height: 130px;
  border: 1.5px solid #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.word {
  width: 85%;
  height: 33px;
  border-bottom: 1.5px solid #ececec;
}
.exercise-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
button{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  /* background-color: #7293df; */
  color: #bec9d5;
  cursor: pointer;
  border: 1.5px solid #ececec;
}
