* {
  font-family: "Prompt";
  text-decoration: none;
  scroll-behavior: smooth;
  color: #7293df;
  font-weight: 550;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.main {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 50px;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
  border: 1.5px solid #ececec;
}
th {
  padding: 5px;
  text-align: start;
  color: white;
}
td {
  font-size: 15px;
  padding: 5px;
  border-top: 1.5px solid #ececec;
  font-weight: 400;
}
thead {
  background-color: #7293df;
  height: 40px;
}
.pro {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1.5px solid #ececec;
  padding-bottom: 20px;
}
.pro img {
  width: 70px;
  height: 70px;
}
.pro h3,
p {
  margin: 0;
}
.nav {
  width: 98%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: 1px 1px 5px #0000001a;
  background-color: white;
  position: fixed;
  top: 0;
}

.mid {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 20px;
}

.mid a,
.txt p {
  color: #bec9d5;
}

.mid a {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.mid a:hover {
  color: #7293df;
}

.las {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.las a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  gap: 10px;
}

.las img {
  height: 40px;
  width: 40px;
}

.las p,
h4 {
  margin: 0;
}

.las div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.logo {
  width: 20%;
}

.txt p {
  font-weight: 400;
  font-size: 13px;
}
