* {
  font-family: "Prompt";
  text-decoration: none;
  scroll-behavior: smooth;
  color: #7293df;
  font-weight: 550;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.main {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 70px;
  gap: 10px;
}
.nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px #0000001a;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

.mid {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 20px;
}

.mid a,
.txt p {
  color: #bec9d5;
}

.mid a {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.mid a:hover {
  color: #7293df;
}

.las {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding-right: 12px;
}

.las img {
  height: 40px;
  width: 40px;
}

.las p,
h4 {
  margin: 0;
}

.las div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.las a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  gap: 10px;
}

.logo {
  padding-left: 12px;
  width: 20%;
}

.txt p {
  font-weight: 400;
  font-size: 13px;
}
i {
  transition: ease-in-out 0.2s;
  color: #bec9d5;
  cursor: pointer;
}
i:hover {
  color: #7293df;
}
.top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 10px;
  /* border-bottom: 1.5px solid #ececec; */
}

h3,
h2 {
  margin: 0;
}

#calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
  font-size: 18px;
  width: 400px;
  /* border-bottom: 1.5px solid #ececec; */
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  width: 400px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #fafafa;
  border: 1.5px solid transparent;
  cursor: pointer;
  user-select: none;
  color: #666666;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.day:hover {
  color: #7293df;
  border: 1.5px solid #dae5ff;
  background-color: #f7f9fe;
}
.day.selected {
  color: #7293df;
  border: 1.5px solid #dae5ff;
  background-color: #f7f9fe;
}

.day.disabled {
  background-color: #e0e0e0;
  color: #aaa;
  cursor: not-allowed;
  pointer-events: none;
}

.day.empty {
  background: none;
  pointer-events: none;
}

#calendar-nav button {
  background-color: transparent;
  border: 0;
}
.but {
  width: 150px;
  height: 40px;
  border: 1.5px solid #ececec;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.but:hover {
  border: 1.5px solid #dae5ff;
  background-color: #f7f9fe;
}
.forbut {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.content-calendar {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 350px; */
  gap: 10px;
  /* margin-right: 50px; */
}
#month-title {
  color: #666666;
}
.type-lesson {
  display: flex;
  flex-direction: column;
}
.type-lesson h2 {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
}
.each input {
  display: none;
}

.each label {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1.5px solid #ececec;
  transition: ease-in-out 0.2s;
  color: #666666;
  padding: 10px;
}

.each input:checked + label {
  border: 1.5px solid #dae5ff;
  background-color: #f7f9fe;
  color: #7293df;
  /* color: white; */
}

.each label:hover {
  border: 1.5px solid #dae5ff;
  color: #7293df;
  background-color: #f7f9fe;
}

.con {
  display: none;
}

.con.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

/* #daydiv{
  height: 400px;
}
#templatediv, #lessondiv{
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
} */
.forles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.temleft {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select-template h3,
select {
  color: #666666;
}

.select-template {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.big {
  display: flex;
  gap: 10px;
}

.each-tem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1.5px solid #ececec;
  border-radius: 15px;
  width: 70%;
  padding: 10px;
  gap: 10px;
}

.each-tem p {
  margin: 0;
}

.left-tem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-tem select {
  border: 1.5px solid #ececec;
  border-radius: 10px;
  height: 30px;
  width: 100px;
}

.left-tem option {
  color: #666666;
}

.right-tem {
  border: 1.5px solid #dae5ff;
  background-color: #f7f9fe;
  border-radius: 10px;
  padding: 5px;
  min-height: 20px;
  /* height: 100px; */
}
.right-tem img {
  width: 50%;
}
