* {
  font-family: "Prompt";
  text-decoration: none;
  scroll-behavior: smooth;
  color: #7293df;
  font-weight: 550;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.main {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 50px;
}
.pro {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1.5px solid #ececec;
  padding-bottom: 20px;
}
.pro img {
  width: 70px;
  height: 70px;
}
.pro h3,
p {
  margin: 0;
}
.stat h3,
p {
  margin: 0;
}
.stat p,
.achi p {
  color: #bec9d5;
  font-size: 13px;
  /* font-weight: 400; */
}
.stat {
  border: 1.5px solid #ececec;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}
.achi p,
h3 {
  margin: 0;
}
.achi {
  border: 1.5px solid #ececec;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}
.achievement {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px #0000001a;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

.mid {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 20px;
}

.mid a,
.txt p {
  color: #bec9d5;
}

.mid a {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.mid a:hover {
  color: #7293df;
}
#home{
  color: #7293df;
}

.las {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding-right: 12px;
}

.las img {
  height: 40px;
  width: 40px;
}

.las p,
h4 {
  margin: 0;
}

.las div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.las a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  gap: 10px;
}

.logo {
  padding-left: 12px;
  width: 20%;
}

.txt p {
  font-weight: 400;
  font-size: 13px;
}
.graph{
  border: 1.5px solid #ececec;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 230px;
}
.content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}
.graph-box, .achi-box{
  width: 50%;
}
.graph-box{
  border-right: 1.5px solid #ececec;
}