* {
  font-family: "Prompt";
  text-decoration: none;
  scroll-behavior: smooth;
  color: #7293df;
  font-weight: 550;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.main {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 50px;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
  border: 1.5px solid #ececec;
}
th {
  padding: 5px;
  text-align: start;
  color: white;
}
td {
  font-size: 15px;
  padding: 5px;
  border-top: 1.5px solid #ececec;
  font-weight: 400;
  color: #666666;
}
thead {
  background-color: #7293df;
  height: 40px;
}
.pro {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1.5px solid #ececec;
  padding-bottom: 20px;
  width: 100%;
}
.pro img {
  width: 100px;
  height: 100px;
}
.image {
  width: 100px;
  height: 100px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #ececec;
  background-color: white;
  overflow: hidden;
}
.pro h3,
p {
  margin: 0;
}
.nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px #0000001a;
  background-color: #7293df;
  position: fixed;
  top: 0;
  z-index: 100;
}

.mid {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 20px;
}

.mid a {
  color: #ffffff;
}

.txt p {
  color: #bec9d5;
}

.mid a {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.mid a:hover {
  color: #bec9d5;
}

.las i {
  transition: ease-in-out 0.2s;
  color: #ffffff;
  cursor: pointer;
}
.las i:hover {
  color: #bec9d5;
}

#home {
  color: #ffffff;
}
#home:hover {
  color: #bec9d5;
}

.logo {
  padding-left: 12px;
  width: 20%;
}

.logo h4 {
  color: #ffffff;
}

.las {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  padding-right: 12px;

  flex-direction: row;
}

.las img {
  height: 40px;
  width: 40px;
}

.las p,
h4 {
  margin: 0;
}

.las div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.txt p {
  font-weight: 400;
  font-size: 13px;
}
i {
  transition: ease-in-out 0.2s;
  color: #bec9d5;
  cursor: pointer;
}
i:hover {
  color: #7293df;
}

.namenuser p {
  color: #bec9d5;
}

@media screen and (max-width: 630px) {
  td,
  th {
    font-size: 13px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 15px;
  }
  a,
  h4 {
    font-size: 13px;
  }
  .pro img {
    width: 100%;
    height: 100%;
  }
  .image {
    width: 80px;
    height: 60px;
    border-radius: 80px;
  }
}
