* {
  font-family: "Prompt";
  text-decoration: none;
  scroll-behavior: smooth;
  color: #7293df;
  font-weight: 550;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.main {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 50px;
}
.pro {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1.5px solid #ececec;
  padding-bottom: 20px;
}
.pro h3,
p {
  margin: 0;
}
.stat h3,
p {
  margin: 0;
}
.stat p,
.achi p {
  color: #bec9d5;
  font-size: 13px;
  /* font-weight: 400; */
}
.stat {
  border: 1.5px solid #ececec;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}
.achi p,
h3 {
  margin: 0;
}
.achi {
  border: 1.5px solid #ececec;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}
.achievement {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px #0000001a;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

.mid {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 20px;
}

.mid a,
.txt p {
  color: #bec9d5;
}

.mid a {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.mid a:hover {
  color: #7293df;
}

.las {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  padding-right: 12px;
}

/* .las img {
  height: 40px;
  width: 40px;
}

.las p,
h4 {
  margin: 0;
}

.las div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.las a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  gap: 10px;
} */

.logo {
  padding-left: 12px;
  width: 20%;
}

.txt p {
  font-weight: 400;
  font-size: 13px;
}
.graph{
  border: 1.5px solid #ececec;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 230px;
}
.content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}
.graph-box, .achi-box{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.graph-box{
  border-right: 1.5px solid #ececec;
}

#out {
  transition: ease-in-out 0.2s;
  color: #bec9d5;
  cursor: pointer;
}
#out:hover {
  color: #7293df;
}

.pro img {
  width: 100px;
  height: 100px;
}
.image{
  width: 100px;
  height: 100px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #ececec;
  background-color: white;
  overflow: hidden;
}

.namenuser p{
  color: #bec9d5;
}

h2{
  margin: 0;
}

@media screen and (min-width: 631px) and (max-width: 1024px) {
  .main {
    /* padding-right: 30px; */
    gap: 30px;
  }
  
  .mid {
    width: 65%;
    gap: 15px;
  }
  
  .las, .logo {
    width: 17.5%;
  }
}

/* Mobile (481px - 630px) */
@media screen and (min-width: 481px) and (max-width: 630px) {
  .container {
    flex-direction: column;
  }

  
  .mid {
    width: 60%;
    gap: 10px;
  }
  
  .las, .logo {
    width: 20%;
  }
  .graph-box{
    border: 0;
  }
  .graph-box, .achi-box{
    width: 100%;
  }
  .main {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content {
    flex-direction: column;
    gap: 10px;
  }

  .graph {
    width: 100%;
  }

  .graph-box,
  .achi-box {
    width: 100%;
  }
}

/* Small Mobile (320px - 480px) */
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  
  .fori {
    width: 100%;
    justify-content: start;
    padding-left: 15px;
  }
  
  .mid {
    width: 50%;
    gap: 8px;
  }
  
  .las, .logo {
    width: 25%;
  }
  h4, a {
    font-size: 13px;
  }
  .graph-box{
    border: 0;
  }
  .graph-box, .achi-box{
    width: 100%;
  }
}