* {
  font-family: "Prompt";
  text-decoration: none;
  scroll-behavior: smooth;
  color: #7293df;
  font-weight: 550;
}
body {
  margin: 0;
  overflow-x: hidden;
  /* background: linear-gradient(135deg, #f7f9fe 0%, #e8f2ff 100%); */
}
#progress {
  color: #7293df;
}

.main {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 50px;
}
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.top i {
  display: flex;
  align-self: center;
}

h2{
  margin: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
  border: 1.5px solid #ececec;
}
th {
  padding: 5px;
  text-align: start;
  color: white;
}
td {
  font-size: 15px;
  padding: 5px;
  border-top: 1.5px solid #ececec;
  font-weight: 400;
  color: #666666;
}
thead {
  background-color: #7293df;
  height: 40px;
}
i {
  color: #bec9d5;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
i:hover {
  color: #7293df;
}
.nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px #0000001a;
  background-color: #7293df;
  position: fixed;
  top: 0;
  z-index: 100;
}

.mid {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 20px;
}

.mid a {
  color: #ffffff;
}

.txt p {
  color: #bec9d5;
}

.mid a {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.mid a:hover {
  color: #bec9d5;
}

#home {
  color: #ffffff;
}
#home:hover {
  color: #bec9d5;
}

.logo {
  padding-left: 12px;
  width: 20%;
}

.logo h4 {
  color: #ffffff;
}

.las {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  padding-right: 12px;
}

.las img {
  height: 40px;
  width: 40px;
}

.las p,
h4 {
  margin: 0;
}

.las div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.txt p {
  font-weight: 400;
  font-size: 13px;
}
i {
  transition: ease-in-out 0.2s;
  color: #bec9d5;
  cursor: pointer;
}
i:hover {
  color: #7293df;
}

@media screen and (max-width: 630px) {
  td, th {
    font-size: 13px;
  }
  h2{
    font-size: 18px;
  }
  a, h4{
    font-size: 13px;
  }
}