<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/assign_p.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Assign</title>
</head>

<body>
    <div class="nav">
        <div class="logo">
            <h4>TheraTalk</h4>
        </div>
        <div class="mid">
            <a href="/slp/" id="home">หน้าหลัก</a>
            <a href="/slp/progress/" id="progress">พัฒนาการของผู้ป่วย</a>
        </div>
        <div class="las">
            <a href="/slp/profile">
                <!-- <div class="txt">
                    <h4>name</h4>
                    <p>username</p>
                </div>
                <img src="/static/img/audio-book_10089822.png" alt=""> -->
                <i class="fa-solid fa-user"></i>
            </a>
            <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
    </div>
    <div class="main">
        <div class="top">
            <a href="/slp/"><i class="fa-solid fa-chevron-left"></i></a>
            {% if data %}
                <a href="/slp/"><h2>{{ data[0].pfirstname }} {{ data[0].plastname }}</h2></a>
            {% else %}
                <h2>แจ๋ม บุญประกอบ</h2>
            {% endif %}
            
        </div>
        <div class="con active" id="daydiv">
            <div class="content-calendar">
                <h2>เลือกวันที่มอบหมายแบบฝึกหัด</h2>
                <div id="calendar-nav">
                    <button id="prev-month" type="button"><i class="fa-solid fa-chevron-left"></i></button>
                    <span id="month-title"></span>
                    <button id="next-month" type="button"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
                <div id="calendar"></div>
            </div>
            <div class="forbut">
                <button type="button" class="but next">ถัดไป</button>
            </div>
        </div>
        <div class="con" id="lessondiv">
            <div class="type-lesson">
                <h2>แบบฝึกหัดที่จะให้ทำในแต่ละวัน</h2>
                <div class="forles">
                    <div class="each">
                        <input type="checkbox" name="lesson" id="l1">
                        <label for="l1">แบบฝึกหัดการฟังเพื่อออกเสียงพยัญชนะและสระทีละเสียง</label>
                    </div>
                    <div class="each">
                        <input type="checkbox" name="lesson" id="l2">
                        <label for="l2">แบบฝึกหัดการฟังเพื่อออกเสียงคำศัพท์ทีละคำ</label>
                    </div>
                    <div class="each">
                        <input type="checkbox" name="lesson" id="l3">
                        <label for="l3">แบบฝึกหัดการฟังเพื่อพูดคำที่เสียงคล้ายกัน</label>
                    </div>
                    <div class="each">
                        <input type="checkbox" name="lesson" id="l4">
                        <label for="l4">แบบฝึกหัดฟังหรืออ่านเรื่องสั้นเพื่อตอบคำถาม</label>
                    </div>
                    <div class="each">
                        <input type="checkbox" name="lesson" id="l5">
                        <label for="l5">แบบฝึกหัดการนึกคำจากภาพหรือสถานการณ์</label>
                    </div>
                    <div class="each">
                        <input type="checkbox" name="lesson" id="l6">
                        <label for="l6">แบบฝึกหัดฟังเพื่อพูดตามเป็นประโยค</label>
                    </div>
                    <div class="each">
                        <input type="checkbox" name="lesson" id="l7">
                        <label for="l7">ตัวนับเวลาสำหรับฝึกการหายใจ</label>
                    </div>
                    <div class="each">
                        <input type="checkbox" name="lesson" id="l8">
                        <label for="l8">แบบฝึกหัดการเรียงคำให้เป็นประโยค</label>
                    </div>
                    <div class="each">
                        <input type="checkbox" name="lesson" id="l9">
                        <label for="l9">แบบฝึกหัดอิสระ</label>
                    </div>
                </div>
            </div>
            <div class="forbut">
                <button type="button" class="but back">ย้อนกลับ</button>
                <button type="button" class="but next" id="but-next2">ถัดไป</button>
            </div>
        </div>
        <div class="con" id="templatediv">
            <div class="select-template">
                <h2>เลือกแม่แบบของแบบฝึกหัด</h2>
                <div class="each-tem">
                    <div class="left-tem">
                        <h3>แบบฝึกหัดการฟังเพื่อออกเสียงพยัญชนะและสระทีละเสียง</h3>
                        <select name="s1-1" id="s1-1">
                            <option value="t1">แม่แบบที่ 1: สระเสียงสั้น</option>
                            <option value="t2">แม่แบบที่ 2: สระเสียงยาว</option>
                            <option value="t3">แม่แบบที่ 3: สระทั้งหมด</option>
                        </select>
                    </div>
                    <div class="right-tem">
                        <p>มีคำว่า อะ อา อิ อี</p>
                        <img src="/static/img/maxresdefault.jpg" alt="">
                    </div>
                </div>

                <div class="each-tem">
                    <div class="left-tem">
                        <h3>แบบฝึกหัดการฟังเพื่อออกเสียงคำศัพท์ทีละคำ</h3>
                        <select name="s1-2" id="s1-2">
                            <option value="t4">แม่แบบที่ 1: คำ 1 พยางค์ หมวดกิริยา</option>
                            <option value="t5">แม่แบบที่ 2: คำ 1 พยางค์ หมวดคำนาม</option>
                            <option value="t6">แม่แบบที่ 3: คำ 2 พยางค์</option>
                        </select>
                    </div>
                    <div class="right-tem">
                        <p>มีคำว่า อะ อา อิ อีมีคำว่า อะ อา อิ อีมีคำว่า อะ อา อิ อีมีคำว่า อะ อา อิ อีมีคำว่า อะ อา อิ อีมีคำว่า อะ อา อิ อีมีคำว่า อะ อา อิ อี</p>
                        <img src="" alt="" style="display: none;">
                    </div>
                </div>

                <div class="each-tem">
                    <div class="left-tem">
                        <h3>แบบฝึกหัดการฟังเพื่อพูดคำที่เสียงคล้ายกัน</h3>
                        <select name="s1-3" id="s1-3">
                            <option value="t7">แม่แบบที่ 1: พูดคำคล้ายกัน 1</option>
                            <option value="t8">แม่แบบที่ 2: พูดคำคล้ายกัน 2</option>
                            <option value="t9">แม่แบบที่ 3: พูดคำคล้ายกัน 3</option>
                        </select>
                    </div>
                    <div class="right-tem">
                        <p>มีคำว่า อะ อา อิ อี</p>
                        <img src="" alt="" style="display: none;">
                    </div>
                </div>

                <div class="each-tem">
                    <div class="left-tem">
                        <h3>แบบฝึกหัดฟังหรืออ่านเรื่องสั้นเพื่อตอบคำถาม</h3>
                        <select name="s1-4" id="s1-4">
                            <option value="t10">แม่แบบที่ 1: ต้นไม้ของป้าแสง</option>
                            <option value="t11">แม่แบบที่ 2: วันนั้นของลุงแม้น</option>
                            <option value="t12">แม่แบบที่ 3: ไข่เจียวของพี่แป้ง</option>
                        </select>
                    </div>
                    <div class="right-tem">
                        <p>มีคำว่า อะ อา อิ อี</p>
                        <img src="" alt="" style="display: none;">
                    </div>
                </div>

                <div class="each-tem">
                    <div class="left-tem">
                        <h3>แบบฝึกหัดการนึกคำจากภาพหรือสถานการณ์</h3>
                        <select name="s1-5" id="s1-5">
                            <option value="t14">แม่แบบที่ 1: หมวด อวัยวะในร่างกาย</option>
                            <option value="t16">แม่แบบที่ 2: หมวด ของใช้</option>
                            <option value="t17">แม่แบบที่ 3: หมวด กิริยาในชีวิตประจำวัน</option>
                        </select>
                    </div>
                    <div class="right-tem">
                        <p>มีคำว่า อะ อา อิ อี</p>
                        <img src="" alt="" style="display: none;">
                    </div>
                </div>

                <div class="each-tem">
                    <div class="left-tem">
                        <h3>แบบฝึกหัดฟังเพื่อพูดตามเป็นประโยค</h3>
                        <select name="s1-6" id="s1-6">
                            <option value="t19">แม่แบบที่ 1: ฟังเพื่อพูดตามประโยค 1</option>
                            <option value="t20">แม่แบบที่ 2: ฟังเพื่อพูดตามประโยค 2</option>
                            <option value="t21">แม่แบบที่ 3: ฟังเพื่อพูดตามประโยค 3</option>
                        </select>
                    </div>
                    <div class="right-tem">
                        <p>มีคำว่า อะ อา อิ อี</p>
                        <img src="" alt="" style="display: none;">
                    </div>
                </div>

                <div class="each-tem">
                    <div class="left-tem">
                        <h3>ตัวนับเวลาสำหรับฝึกการหายใจ</h3>
                        <select name="s1-7" id="s1-7">
                            <option value="t1">แม่แบบที่ 1</option>
                            <option value="t2">แม่แบบที่ 2</option>
                            <option value="t3">แม่แบบที่ 3</option>
                        </select>
                    </div>
                    <div class="right-tem">
                        <p>มีคำว่า อะ อา อิ อี</p>
                        <img src="" alt="" style="display: none;">
                    </div>
                </div>

                <div class="each-tem">
                    <div class="left-tem">
                        <h3>แบบฝึกหัดการเรียงคำให้เป็นประโยค</h3>
                        <select name="s1-8" id="s1-8">
                            <option value="t22">แม่แบบที่ 1: เรียงประโยค 1</option>
                            <option value="t23">แม่แบบที่ 2: เรียงประโยค 2</option>
                            <option value="t24">แม่แบบที่ 3: เรียงประโยค 3</option>
                        </select>
                    </div>
                    <div class="right-tem">
                        <p>มีคำว่า อะ อา อิ อี</p>
                        <img src="" alt="" style="display: none;">
                    </div>
                </div>

                <div class="each-tem">
                    <div class="left-tem">
                        <h3>แบบฝึกหัดอิสระ</h3>
                        <select name="s1-9" id="s1-9">
                            <option value="t1">แม่แบบที่ 1</option>
                            <option value="t2">แม่แบบที่ 2</option>
                            <option value="t3">แม่แบบที่ 3</option>
                        </select>
                    </div>
                    <div class="right-tem">
                        <p>มีคำว่า อะ อา อิ อี</p>
                        <img src="" alt="" style="display: none;">
                    </div>
                </div>
                
            </div>
            <div class="forbut">
                <button type="button" class="but back">ย้อนกลับ</button>
                <button type="button" class="but next" id="but-done">เสร็จสิ้น</button>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/assign_p.js"></script>
<script src="/static/js/assign_p2.js"></script>
<script>

// ##### ของโฟค
    document.addEventListener('DOMContentLoaded', () => {
        // const finishBtn = document.querySelector('.forbut .but');
        const doneButton = document.getElementById("but-done");

        // finishBtn.addEventListener('click', async () => {
        if (doneButton) {
            doneButton.addEventListener('click', async () => {
            const selectedDates = getSelectedDates();
            const selectedTemplates = saveSelectedTemplates();

            // const lessonCheckboxes = document.querySelectorAll('input[name="lesson"]:checked');

            // console.log('ffffff'+ lessonCheckboxes);
            // const selectedLessons = Array.from(lessonCheckboxes).map(cb => cb.id);
            // const selectedTemplateIds = Array.from(lessonCheckboxes).map(cb => lessonMap[cb.getAttribute('id')]);

            const path = window.location.pathname;
            const parts = path.split('/');
            const patientId = parts[parts.length - 1];

            console.log('patientId patientId:', patientId);

            
            const data = {
                assigned_dates: selectedDates,
                activity: selectedTemplates,
                patientId: patientId,
            };

            console.log('Data to send:', data);

            try {
                const response = await fetch('/slp/assign/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: 'include',
                    body: JSON.stringify(data)
                });

                if (!response.ok) {
                    throw new Error(`Server error: ${response.status}`);
                }

                const result = await response.json();
                console.log('Server response:', result);
            } catch (error) {
                console.error('Error sending data:', error);
                alert('Error sending data. Please try again.');
            }
        });
        } else {
            console.warn("Button with ID 'but-done' not found in assign_p.html. Data sending will not be triggered.");
        }
    });
</script>

</html>