<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/check_p.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Check</title>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <h4>TheraTalk</h4>
        </div>
        <div class="mid">
            <a href="/slp/" id="home">หน้าหลัก</a>
        </div>
        <div class="las">
            <a href="/slp/profile">
                <div class="txt">
                    <h4>name</h4>
                    <p>username</p>
                </div>
                <img src="/static/img/audio-book_10089822.png" alt="">
            </a>
        </div>
    </div>
    <div class="main">
        <div class="top">
            <a href="/slp/"><i class="fa-solid fa-chevron-left"></i></a>
            <h2>แจ๋ม บุญประกอบ</h2>
        </div>
        <div class="content">
            <div class="need">
                <h3>แบบฝึกหัดที่ต้องตรวจ</h3>
                <div class="lesson">
                    <a href="check_lesson_p.html"><div>ชื่อแบบฝึกหัด</div></a>
                </div>
            </div>
            <div class="finish">
                <h3>แบบฝึกหัดที่ตรวจเรียบร้อยแล้ว</h3>
                <div class="lesson">
                    <a href="#"><div>ชื่อแบบฝึกหัด</div></a>
                    <a href="#"><div>ชื่อแบบฝึกหัด</div></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>