<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/check_p.css">
    <link rel="stylesheet" href="/static/css/home_p.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Check</title>
</head>

<body>
    <div class="nav">
        <div class="logo">
            <h4>TheraTalk</h4>
        </div>
        <div class="mid">
            <a href="/slp/" id="home">หน้าหลัก</a>
            <!-- <a href="/slp/progress" id="progress">พัฒนาการของผู้ป่วย</a> -->
        </div>
        <div class="las">
            <a href="/slp/profile">
                <!-- <div class="txt">
                    <h4>name</h4>
                    <p>username</p>
                </div>
                <img src="/static/img/audio-book_10089822.png" alt=""> -->
                <i class="fa-solid fa-user"></i>
            </a>
            <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
    </div>
    <div class="main">
        <div class="top">
            <a href="/slp/checkmypatient/{{ patientid }}/{{date}}"><i class="fa-solid fa-chevron-left"></i></a>
            {% if data_name %}
            <a href="/slp/checkmypatient/{{ patientid }}/{{date}}">
                <h2>{{ data_name[0].pfirstname }} {{ data_name[0].plastname }}</h2>
            </a>
            {% else %}
            <a href="/slp/checkmypatient/{{ patientid }}/{{date}}">
                <h2>ชื่อ นามสกุล</h2>
            </a>
            {% endif %}
        </div>
        {% if data_assignmenteachday %}
            {% for i in data_assignmenteachday %}
                <h1>{{i.activityname}} ({{i.templatename}})</h1>
            {% endfor %}
        {% else %}
            <h1>ไม่มีแบบฝึกหัด</h1>
        {% endif %}
<!-- 
        <div class="content">
            <div class="finish">
                <div class="lesson">
                    {% if data %}
                    {% for i in data %}
                    <div>{{i.sentence}} ทำซ้ำ {{i.retries}} ครั้ง</div>
                    {% endfor %}
                    {% else %}
                    <div>marmink so cute</div>
                    {% endif %}
                </div>
            </div>
        </div> -->

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th id="name">คำที่ฝึก</th>
                    <th>ทำซ้ำ (ครั้ง)</th>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                    {% for i in data %}
                        <tr>
                            <td></td>
                            <td>{{i.sentence}}</td>
                            <td>{{i.retries}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td></td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <h2>ผู้ป่วยยังไม่ได้ทำแบบฝึกหัด</h2>
                {% endif %}
            </tbody>
        </table>
        
    </div>
</body>

</html>