<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/each_lesson.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Lesson</title>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <h4>TheraTalk</h4>
        </div>
        <div class="mid">
            <a href="/patient/" id="home">หน้าหลัก</a>
            <a href="/patient/mission" id="mission">ภารกิจ</a>
        </div>
        <div class="las">
            <a href="/patient/profile">
                <div class="txt">
                    <h4>{{ patient.pfirstname }} {{ patient.plastname }}</h4>
                    <p>{{ patient.pusername }}</p>
                </div>
                <img src="/static/img/audio-book_10089822.png" alt="">
            </a>
        </div>
    </div>
    <div class="main">
    <div class="top">
        <a href="/patient/"><i class="fa-solid fa-chevron-left"></i></a>
        <h2>แบบฝึกหัดของคุณ</h2>
    </div>
        {% for item in lessons %}
            <a href="/patient/activity/{{ item.activity.activityid }}">
                <div class="node">
                    <img src="/static/img/audio-book_10089822.png" alt="">
                    <h3>{{ item.activity.activityname }}</h3>
                </div>
            </a>
        {% endfor %}
</div>
</body>
</html>