<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/home_patient.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div class="nav">
        <div class="logo">
            <h4>TheraTalk</h4>
        </div>
        <div class="mid">
            <a href="/patient/" id="home">หน้าหลัก</a>
            <a href="/patient/mission" id="mission">ภารกิจ</a>
        </div>
        <div class="las">
            <a href="/patient/profile">
                <div class="txt">
                    <h4>name</h4>
                    <p>username</p>
                </div>
                <img src="/static/img/audio-book_10089822.png" alt="">
            </a>
        </div>
    </div>
    <div class="main">
        <div class="node complete" id="n1">
            <img src="/static/img/audio-book_10089822.png" alt="">
            <div class="description">
                <h3>แบบฝึกหัดที่ 1</h3>
                <p>5 กรกฎาคม 2568</p>
                <div class="tooltip">
                    <ol>
                        <li>การฟังเพื่อออกเสียงพยัญชนะและสระทีละเสียง</li>
                        <li>การฟังเพื่อออกเสียงคำศัพท์ทีละคำ</li>
                        <li>การฟังเพื่อพูดคำที่เสียงคล้ายกัน</li>
                        <li>ฟังหรืออ่านเรื่องสั้นเพื่อตอบคำถาม</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="node active" id="n2">
            <img src="/static/img/audio-book_10089822.png" alt="" >
            <div class="description">
                <h3>แบบฝึกหัดที่ 1</h3>
                <p>5 กรกฎาคม 2568</p>
                <div class="tooltip">
                    <ol>
                        <li>การฟังเพื่อออกเสียงพยัญชนะและสระทีละเสียง</li>
                        <li>การฟังเพื่อออกเสียงคำศัพท์ทีละคำ</li>
                        <li>การฟังเพื่อพูดคำที่เสียงคล้ายกัน</li>
                        <li>ฟังหรืออ่านเรื่องสั้นเพื่อตอบคำถาม</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="node lock" id="n3">
            <img src="/static/img/audio-book_10089822.png" alt="">
            <div class="description">
                <h3>แบบฝึกหัดที่ 1</h3>
                <p>5 กรกฎาคม 2568</p>
                <div class="tooltip">
                    <ol>
                        <li>การฟังเพื่อออกเสียงพยัญชนะและสระทีละเสียง</li>
                        <li>การฟังเพื่อออกเสียงคำศัพท์ทีละคำ</li>
                        <li>การฟังเพื่อพูดคำที่เสียงคล้ายกัน</li>
                        <li>ฟังหรืออ่านเรื่องสั้นเพื่อตอบคำถาม</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="node lock" id="n4">
            <img src="/static/img/audio-book_10089822.png" alt="">
            <div class="description">
                <h3>แบบฝึกหัดที่ 1</h3>
                <p>5 กรกฎาคม 2568</p>
                <div class="tooltip">
                    <ol>
                        <li>การฟังเพื่อออกเสียงพยัญชนะและสระทีละเสียง</li>
                        <li>การฟังเพื่อออกเสียงคำศัพท์ทีละคำ</li>
                        <li>การฟังเพื่อพูดคำที่เสียงคล้ายกัน</li>
                        <li>ฟังหรืออ่านเรื่องสั้นเพื่อตอบคำถาม</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="node lock" id="n5">
            <img src="/static/img/audio-book_10089822.png" alt="">
            <div class="description">
                <h3>แบบฝึกหัดที่ 1</h3>
                <p>5 กรกฎาคม 2568</p>
                <div class="tooltip">
                    <ol>
                        <li>การฟังเพื่อออกเสียงพยัญชนะและสระทีละเสียง</li>
                        <li>การฟังเพื่อออกเสียงคำศัพท์ทีละคำ</li>
                        <li>การฟังเพื่อพูดคำที่เสียงคล้ายกัน</li>
                        <li>ฟังหรืออ่านเรื่องสั้นเพื่อตอบคำถาม</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="node lock" id="n6">
            <img src="/static/img/audio-book_10089822.png" alt="">
            <div class="description">
                <h3>แบบฝึกหัดที่ 1</h3>
                <p>5 กรกฎาคม 2568</p>
                <div class="tooltip">
                    <ol>
                        <li>การฟังเพื่อออกเสียงพยัญชนะและสระทีละเสียง</li>
                        <li>การฟังเพื่อออกเสียงคำศัพท์ทีละคำ</li>
                        <li>การฟังเพื่อพูดคำที่เสียงคล้ายกัน</li>
                        <li>ฟังหรืออ่านเรื่องสั้นเพื่อตอบคำถาม</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>

</html>