<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/les_listen_speak2.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Lesson</title>
</head>

<body>
    <div class="nav">
        <div class="logo">
            <h4>TheraTalk</h4>
        </div>
        <div class="mid">
            <a href="/patient/" id="home">หน้าหลัก</a>
            <a href="/patient/mission/" id="mission">ภารกิจ</a>
        </div>
        <div class="las">
            <a href="/patient/profile/">
                <div class="txt">
                    <h4>name</h4>
                    <p>username</p>
                </div>
                <img src="/static/img/audio-book_10089822.png" alt="">
            </a>
        </div>
    </div>
    <div class="main">
        <div class="bar">
            <h2>ฟังและออกเสียงพยัญชนะและสระ</h2>
            <div class="exercise-bar">
                <div class="exercise-fill"></div>
            </div>
            <p>ข้อ 1 จาก 10</p>
        </div>
        <div class="exercise-box">
            <div class="listen-box">
                <i class="fa-solid fa-volume-high"></i>
                <div class="word">
                    <p>กอ</p>
                </div>
            </div>
            <div class="speak">
                <p>กดเพื่อพูด</p>
            </div>
        </div>
        <button type="button" disabled>ตรวจสอบ</button>
    </div>
</body>

</html>