<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/profile_patient.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Profile</title>
</head>

<body>
    <div class="nav">
        <div class="logo">
            <h4>TheraTalk</h4>
        </div>
        <div class="mid">
            <a href="/patient/" id="home">หน้าหลัก</a>
            <a href="/patient/mission" id="mission">ภารกิจ</a>
        </div>
        <div class="las">
            <a href="/patient/profile/">
                <i class="fa-solid fa-user"></i>
            </a>
            <a href="/logout">
                <i class="fa-solid fa-arrow-right-from-bracket" id="out"></i>
            </a>
        </div>
    </div>
    <div class="main">
        <div class="pro">
            <div class="image">
                <img src="/static/img/audio-book_10089822.png" alt="">
            </div>
            <div class="namenuser">
                <h3>{{ user_data[0].pfirstname }} {{ user_data[0].plastname }}</h3>
                <p>{{ user_data[0].pusername }}</p>
            </div>
        </div>
        <div class="content">
            <div class="graph-box">
                <h2>สถิติ</h2>
                <div class="graph">
                    <canvas id="lessonChart"></canvas>
                </div>
            </div>
            <div class="achi-box">
                <h2>ความสำเร็จ</h2>
                <div class="achievement">
                    <div class="achi">
                        <p>สะสมคะแนนได้</p>
                        <h3>250</h3>
                    </div>
                    <div class="achi">
                        <p>ความถูกต้องเฉลี่ย</p>
                        <h3>95%</h3>
                    </div>
                    <div class="achi">
                        <p>ความถูกต้องเฉลี่ย</p>
                        <h3>95%</h3>
                    </div>
                    <div class="achi">
                        <p>ความถูกต้องเฉลี่ย</p>
                        <h3>95%</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    const labels = {{ chart_labels | tojson }};
    const data = {{ chart_data | tojson }};

    console.log(labels);
    console.log(data);

    const ctx = document.getElementById('lessonChart').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'ค่าเฉลี่ยความถูกต้องต่อแบบฝึก (%)',
                data: data,
                backgroundColor: 'rgba(75, 192, 192, 0.6)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    max: 100
                }
            }
        }
    });
</script>

</body>

</html>