<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/profile_p.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Profile</title>
</head>

<body>
    <div class="nav">
        <div class="logo">
            <h4>TheraTalk</h4>
        </div>
        <div class="mid">
            <a href="/slp/" id="home">หน้าหลัก</a>
            <a href="/slp/progress/" id="progress">พัฒนาการของผู้ป่วย</a>
        </div>
        <div class="las">
            <a href="/slp/profile/">
                <div class="txt">
                    <h4>{{ data[0].slpfirstname }} {{ data[0].slplastname }}</h4>
                    <p>{{ data[0].slpusername }}</p>
                </div>
                <img src="/static/img/audio-book_10089822.png" alt="">
            </a>
        </div>
    </div>
    <div class="main">
        <div class="pro">
            <img src="/static/img/audio-book_10089822.png" alt="">
            <div class="namenuser">
                <h3>{{ data[0].slpfirstname }} {{ data[0].slplastname }}</h3>
                <p>{{ data[0].slpusername }}</p>
            </div>
        </div>
        <h2>ผู้ป่วยที่รับการบำบัด</h2>
        <table>
            <thead>
                <tr>
                    <th>ชื่อ</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in data %}
                <tr>
                    <td>{{ patient.pfirstname }} {{ patient.plastname }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>