<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/progress_p.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>Progress</title>
</head>

<body>
    <div class="nav">
        <div class="logo">
            <h4>TheraTalk</h4>
        </div>
        <div class="mid">
            <a href="/slp/" id="home">หน้าหลัก</a>
            <a href="/slp/progress" id="progress">พัฒนาการของผู้ป่วย</a>
        </div>
        <div class="las">
                <a href="/slp/profile">
                <!-- <div class="txt">
                    <h4>name</h4>
                    <p>username</p>
                </div>
                <img src="/static/img/audio-book_10089822.png" alt=""> -->
                <i class="fa-solid fa-user"></i>
            </a>
            <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
    </div>
    <div class="main">
        <div class="top">
            <h2>55 คน</h2>
            <i class="fa-solid fa-pen-to-square"></i>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ชื่อ</th>
                    <th>คะแนนที่ได้รับ</th>
                    <th>แบบฝึกหัดล่าสุด</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>แจ๋ม สโมสรชิมิ</td>
                    <td>40</td>
                    <td>การฟังและออกเสียงพยัญชนะและสระ</td>
                </tr>
                <tr>
                    <td>แจ๋ม สโมสรชิมิ</td>
                    <td>40</td>
                    <td>การฟังและออกเสียงพยัญชนะและสระ</td>
                </tr>
                <tr>
                    <td>แจ๋ม สโมสรชิมิ</td>
                    <td>40</td>
                    <td>การฟังและออกเสียงพยัญชนะและสระ</td>
                </tr>
                <tr>
                    <td>แจ๋ม สโมสรชิมิ</td>
                    <td>40</td>
                    <td>การฟังและออกเสียงพยัญชนะและสระ</td>
                </tr>
                <tr>
                    <td>แจ๋ม สโมสรชิมิ</td>
                    <td>40</td>
                    <td>การฟังและออกเสียงพยัญชนะและสระ</td>
                </tr>
                <tr>
                    <td>แจ๋ม สโมสรชิมิ</td>
                    <td>40</td>
                    <td>การฟังและออกเสียงพยัญชนะและสระ</td>
                </tr>
                <tr>
                    <td>แจ๋ม สโมสรชิมิ</td>
                    <td>40</td>
                    <td>การฟังและออกเสียงพยัญชนะและสระ</td>
                </tr>
                <tr>
                    <td>แจ๋ม สโมสรชิมิ</td>
                    <td>40</td>
                    <td>การฟังและออกเสียงพยัญชนะและสระ</td>
                </tr>
                <tr>
                    <td>แจ๋ม สโมสรชิมิ</td>
                    <td>40</td>
                    <td>การฟังและออกเสียงพยัญชนะและสระ</td>
                </tr>
                <tr>
                    <td>แจ๋ม สโมสรชิมิ</td>
                    <td>40</td>
                    <td>การฟังและออกเสียงพยัญชนะและสระ</td>
                </tr>
                <tr>
                    <td>แจ๋ม สโมสรชิมิ</td>
                    <td>40</td>
                    <td>การฟังและออกเสียงพยัญชนะและสระ</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>